/external/opt/

# Xcode
*.xcscmblueprint
/external/build/mac/work/
DerivedData/
project.xcworkspace/
xcuserdata/

# Linux
build/linux/bin/
build/linux/lib/
build/linux/obj/

# Windows
*.vcxproj.user
.vs/
/build/vs2017/Debug/
/build/vs2017/Release/
